html,body
{
	display: block;
	background-color: #000000;
	color: #ffffff;
	margin: 0 auto;
	padding: 0 0;
}

canvas
{
	border: 1px solid #FFF;
}

div.textonlyarea
{
	background-image: url('../images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	display: none;
	font-size: 1.2vw;
	font-weight: bold;
	height: 100%;
	width: 100%;
}
	div.textonlyarea div.treeinformationarea
	{
		background-color: #FFFFFF;
		border: 1px solid #FFF;
		border-radius: 12px;
		color: #000000;
		float: left;
		height: 25%;
		margin-left: 1%;
		opacity: 0.5;
		width: 30%;
	}
		div.textonlyarea div.treeinformationarea div.treeinformationarea-header
		{
			display: block;
			font-size: 1.4vw;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		div.textonlyarea div.treeinformationarea div.treeinformationarea-left
		{
			float: left;
			width: 49%;
		}
			div.textonlyarea div.treeinformationarea div.treeinformationarea-left span.treeinformationarea-label
			{
				display: block;
				text-align: center;
				width: 100%;
			}
		div.textonlyarea div.treeinformationarea div.treeinformationarea-right
		{
			float: right;
			width: 49%;
		}
			div.textonlyarea div.treeinformationarea div.treeinformationarea-right span.treeinformationarea-data
			{
				display: block;
				text-align: center;
				width: 100%;
			}
	div.textonlyarea div.weatherinformationarea
	{
		background-color: #FFFFFF;
		border: 1px solid #FFF;
		border-radius: 12px;
		color: #000000;
		float: left;
		height: 25%;
		margin-left: 1%;
		opacity: 0.5;
		width: 30%;
	}
		div.textonlyarea div.weatherinformationarea div.weatherinformationarea-header
		{
			display: block;
			font-size: 1.4vw;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		div.textonlyarea div.weatherinformationarea div.weatherinformationarea-left
		{
			float: left;
			width: 49%;
		}
			div.textonlyarea div.weatherinformationarea div.weatherinformationarea-left span.weatherinformationarea-label
			{
				display: block;
				text-align: center;
				width: 100%;
			}
		div.textonlyarea div.weatherinformationarea div.weatherinformationarea-right
		{
			float: right;
			width: 49%;
		}
			div.textonlyarea div.weatherinformationarea div.weatherinformationarea-right span.weatherinformationarea-data
			{
				display: block;
				text-align: center;
				width: 100%;
			}
	div.textonlyarea div.dayinformationarea
	{
		background-color: #FFFFFF;
		border: 1px solid #FFF;
		border-radius: 12px;
		color: #000000;
		float: left;
		height: 25%;
		margin-left: 1%;
		opacity: 0.5;
		width: 30%;
	}
		div.textonlyarea div.dayinformationarea div.dayinformationarea-header
		{
			display: block;
			font-size: 1.4vw;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		div.textonlyarea div.dayinformationarea div.dayinformationarea-left
		{
			float: left;
			width: 49%;
		}
			div.textonlyarea div.dayinformationarea div.dayinformationarea-left span.dayinformationarea-label
			{
				display: block;
				text-align: center;
				width: 100%;
			}
		div.textonlyarea div.dayinformationarea div.dayinformationarea-right
		{
			float: right;
			width: 49%;
		}
			div.textonlyarea div.dayinformationarea div.dayinformationarea-right span.dayinformationarea-data
			{
				display: block;
				text-align: center;
				width: 100%;
			}
	div.textonlyarea div.trunkinformationarea
	{
		background-color: #FFFFFF;
		border: 1px solid #FFF;
		border-radius: 12px;
		color: #000000;
		float: left;
		height: 25%;
		margin-left: 1%;
		opacity: 0.5;
		width: 30%;
	}
		div.textonlyarea div.trunkinformationarea div.trunkinformationarea-header
		{
			display: block;
			font-size: 1.4vw;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		div.textonlyarea div.trunkinformationarea div.trunkinformationarea-left
		{
			float: left;
			width: 49%;
		}
			div.textonlyarea div.trunkinformationarea div.trunkinformationarea-left span.trunkinformationarea-label
			{
				display: block;
				text-align: center;
				width: 100%;
			}
		div.textonlyarea div.trunkinformationarea div.trunkinformationarea-right
		{
			float: right;
			width: 49%;
		}
			:w1div.textonlyarea div.trunkinformationarea div.trunkinformationarea-right span.trunkinformationarea-data
			{
				display: block;
				text-align: center;
				width: 100%;
			}

div.clearfix
{
	clear: both;
}
