html,body
{
	display: block;
	background-color: #000000;
	color: #ffffff;
	margin: 0 auto;
	padding: 0 0;
}

canvas
{
	border: 1px solid #FFF;
}

div.textonlyarea
{
	display: none;
	font-size: 1.2vw;
	font-weight: bold;
	height: 100%;
	width: 100%;
}
	div.textonlyarea div.treeinformationarea
	{
		border: 1px solid #FFF;
		float: left;
		height: 25%;
		width: 30%;
	}
		div.textonlyarea div.treeinformationarea div.treeinformationarea-header
		{
			display: block;
			font-size: 1.4vw;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		div.textonlyarea div.treeinformationarea div.treeinformationarea-left
		{
			float: left;
			width: 49%;
		}
			div.textonlyarea div.treeinformationarea div.treeinformationarea-left span.treeinformationarea-label
			{
				display: block;
				text-align: center;
				width: 100%;
			}
		div.textonlyarea div.treeinformationarea div.treeinformationarea-right
		{
			float: right;
			width: 49%;
		}
			div.textonlyarea div.treeinformationarea div.treeinformationarea-right span.treeinformationarea-data
			{
				display: block;
				text-align: center;
				width: 100%;
			}
	div.textonlyarea div.weatherinformationarea
	{
		border: 1px solid #FFF;
		float: left;
		height: 25%;
		width: 30%;
	}
		div.textonlyarea div.weatherinformationarea div.weatherinformationarea-header
		{
			display: block;
			font-size: 1.4vw;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		div.textonlyarea div.weatherinformationarea div.weatherinformationarea-left
		{
			float: left;
			width: 49%;
		}
			div.textonlyarea div.weatherinformationarea div.weatherinformationarea-left span.weatherinformationarea-label
			{
				display: block;
				text-align: center;
				width: 100%;
			}
		div.textonlyarea div.weatherinformationarea div.weatherinformationarea-right
		{
			float: right;
			width: 49%;
		}
			1div.textonlyarea div.weatherinformationarea div.weatherinformationarea-right span.weatherinformationarea-data
			{
				display: block;
				text-align: center;
				width: 100%;
			}

div.clearfix
{
	clear: both;
}
