<head>
	<script type="text/javascript" src="../js/Functions.js"></script>
	<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../js/phaser.js"></script>
	<script type="text/javascript" src="../js/Game.js"></script>

	<link rel="stylesheet" href="../css/style.css" />

	<script type="text/javascript">
		//var Game = require('../js/Game.js');
		var mainGame = null;
	</script>
</head>

<body class="stdbody" onload="initGame();">	
	<div class="textonlyarea" id="textonlyarea">TEST</div>
</body>

<script type="text/javascript">
	function initGame()
	{
		mainGame = new Game("Tree", true);
	
		mainGame.start();
	}
</script>
